<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extração de informações do Diário Oficial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <!-- Add the image at the top -->
    <div class="logo-container">
        <img src="{{ url_for('static', filename='images/sp.jpeg') }}" alt="São Paulo Governo Logo" class="logo">
    </div>

    <div class="container">
        <h1>Extração de informações do Diário Oficial</h1>

        <div id="drop-area">
            <form class="my-form">
                <p>Drag and drop your PDF file here or <span class="clickable">click to browse</span>.</p>
                <input type="file" id="file-upload" name="file" accept=".pdf" style="display: none;">
            </form>
        </div>

        <div class="uploaded-files" id="uploaded-files">
            No files uploaded yet.
        </div>

        <button id="analyze-button" class="button" disabled>Analisar</button>
        <!-- Flex container for the lists -->
        <div class="flex-container">
            <!-- Exonerados section -->
            <div class="list-section">
                <h2 class="exonerados-title">Exonerados</h2>
                <div class="card-container" id="exonerados-container">
                    <!-- Cards will be inserted dynamically here -->
                </div>
            </div>
        
            <!-- Nomeados section -->
            <div class="list-section">
                <h2 class="nomeados-title">Nomeados</h2>
                <div class="card-container" id="nomeados-container">
                    <!-- Cards will be inserted dynamically here -->
                </div>
            </div>
        </div>
    </div>

    <!-- Hidden div for card information, placed outside the main white container -->
    <div id="card-info-container" class="hidden-info-container">
        <!-- This div will be populated with card information on hover -->
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>